* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #0f0d0e;
  color: #fff;
}

.intro {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro h1 {
  font-size: 15vw;
  font-weight: 200;
}

#title {
  text-transform: uppercase;
  color: #aaa8a8;
  font-size: 5vw;
}

#desc {
}

.cta-btn {
  display: inline-block;
  padding: 9px 40px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #aaa8a8;
}

section.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.project-card {
  width: 80%;
  height: 100%;
  max-width: 800px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project-thumbnail {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.project-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.project-info {
  padding: 20px;
  text-align: center;
}

.project-info h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 1rem;
  color: #aaa8a8;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 20px;
  margin: 10px 0;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.btn:hover {
  background-color: #aaa8a8;
}

/* Parallax Effect */
section.portfolio {
  position: relative;
  will-change: transform;
  transition: transform 0.1s linear;
}

@media (min-width: 768px) {
  .intro h1 {
    font-size: 120px;
  }

  #title {
    font-size: 35px;
  }
}
